@use "../globals/" as t;
.button {
	display: block;
	width: 60px;
	height: 60px;
	background-color: t.$color-white;
	border: 1px solid t.$color-disabled;
	border-radius: 5px;

	&:hover {
		border: 1px solid t.$color-primary;
	}
}
