@use "../globals/" as t;
.slider {
	display: grid;
	grid-template-columns: 619px 300px;
	grid-gap: 19px;
	padding: 60px 0;

	&__gallery {
		display: grid;
		grid-template-rows: 1fr 1fr;

		height: 420px;
		width: 359px;
		padding-left: 100%;

		clip-path: inset(0% 0% 0% -100%);

		&--temp {
			display: grid;
		}

		&--top,
		&--bottom {
			display: flex;

			img {
				object-fit: cover;
				margin-left: 10px;
				height: 200px;
				border-radius: 5px;
			}
		}
	}

	&__description {
		padding-left: 20px;

		&--title {
			color: t.$color-primary;
			font-size: 32px;
			line-height: 37.5px;
			font-weight: bold;
		}

		&--text {
			padding-top: 20px;
			color: t.$color-secondary;
			font-size: 18px;
			line-height: 26px;
		}
	}

	&__controlls {
		background-color: t.$color-white;
		position: absolute;
		left: 50%;
		display: grid;
		grid-template-rows: 60px 60px 1fr;
		grid-gap: 10px;
		padding-right: 11px;
		justify-content: end;
		width: 160px;
		height: 200px;
	}
}
